body {
    margin: 20px 20px 20px 20px;
    color: rgb(87, 87, 131);
    background-image: "starrynight.jpeg";
}

.btn {
    background-color:rgb(87, 87, 131);
}

.card-header-title {
    color: rgb(87, 87, 131);
}
.card-content {
    margin: auto;
    background-color: rgb(190, 146, 190);
    align-content: flex-end;
}

p {
    color: rgb(87, 87, 131);
}

footer{
    background-color: rgb(87, 87, 131);
    color: rgb(190, 146, 190);
}

.ai {
    font-style:normal;
    color:purple;
    font-weight:bold;
    font-size:24px;
    line-height:24px;
}